page-notes {
    ion-card-content {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 1.45em !important;
        line-height: 1.4em !important;
        white-space: normal !important;
    }
}
