page-goals {
    .scroll-content {
        overflow-y: auto;
    }

    .menu-button {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border-width: 0;
        color: white;
    }

    /* TODO: check IE and padding */
    .goals {
        background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../assets/imgs/nantesriver.jpg") no-repeat center;
        text-align: center;
        background-size: cover;
        ion-item {
            background-color: transparent;
            padding-left:25px;
            padding-right:25px;
            text-align: center;
        }
    }

    .title {
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        margin-top: 2em;
        margin-bottom:1em;
    }

    .subtitle {
        font-size: 1.5em;
        width: 100%;
        color: #fff !important;
    }

    .button-add {
        padding: 0px 10px 6px 10px;
        margin-top: -6px;
    }
}
