<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle outline icon-only class="menu-button">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="goals">
    <div class="title">Hello {{ getUserName() }}!</div>
    <ion-item *ngIf="!goal">
      <ion-label class="subtitle" floating>What is your goal for this week?</ion-label>
      <ion-input class="subtitle" [ngModel]="goal" (keyup.enter)="setGoal($event.target.value)"></ion-input>
    </ion-item>
    <div *ngIf="goal">
      <div class="subtitle" *ngIf="freeHours > 1">You have {{ freeHours }} hours left today to achieve your goal:</div>
      <div class="subtitle" *ngIf="freeHours === 1">You have {{ freeHours }} hour left today to achieve your goal:</div>
      <div class="subtitle" *ngIf="freeHours === 0 || !freeHours">Your goal this week is:</div>
      <div *ngIf="!editGoal" class="goal" (click)="editGoal = true">{{ goal }}</div>
      <ion-input *ngIf="editGoal" class="goal" [ngModel]="goal" (keyup.enter)="setGoal($event.target.value); editGoal = false"></ion-input>
      <!--<ion-item>
        <ion-label class="subtitle" floating>What is the next step?</ion-label>
        <ion-input class="subtitle"></ion-input>
      </ion-item>-->
    </div>
  </div>

  <ion-list class="calendar-list" no-lines>
    <ion-item-group>
      <div *ngFor="let day of days">
        <div>
          <ion-list-header text-center>
            <div>{{ day }}</div>
            <div>10 free hours</div>
          </ion-list-header>
        </div>
        <!--<div *ngIf="">
          <ion-list-header text-center>
            <div>{{ group.key }}</div>
            <div>{{ group.hours | async }} free hours</div>
          </ion-list-header>
          <ion-item-sliding *ngFor="let item of group.items" title="{{item.id}}">
            <ion-card ion-item (click)="showEditNote(item)" [ngClass]="{'past-item': isPast(item.date)}">
              <ion-col class="date">
                {{ getTime(item.date) }}
              </ion-col>
              <ion-col class="calendar">
                {{ item.content }}
              </ion-col>
            </ion-card>
    
            <ion-item-options side="left" (ionSwipe)="archive(item)">
              <button ion-button expandable color="secondary" icon-only (click)="archive(item)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>
    
            <ion-item-options side="right">
              <button ion-button (click)="showEditNote(item)" color="#00ffff" icon-only><ion-icon name="create"></ion-icon></button>
              <button ion-button (click)="delete(item)" color="danger" icon-only><ion-icon name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
        </div>-->
      </div>
    </ion-item-group>
  </ion-list>

  <ion-fab bottom right #addFab>
    <button ion-fab icon-only (click)="addNote(addFab)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
