<ion-content class="goals">
  <button ion-button menuToggle outline icon-only class="menu-button">
    <ion-icon name="menu"></ion-icon>
  </button>
  <div class="title">Hello {{ getUserName() }}!</div>
  <ion-item>
    <ion-label class="subtitle" floating>What is your goal for this week?</ion-label>
    <ion-input class="subtitle" [(ngModel)]="goal"></ion-input>
  </ion-item>
  <div>
    <div class="subtitle">Your goal this week is</div>
    <div class="goal">{{ getGoal() | async }}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-list>
    <ion-card *ngFor="let item of items | async" (click)="calendarRedirect()">
      <ion-card-content>
        {{ item.content }}
      </ion-card-content>
      <ion-row>
        <ion-col center text-right>
          <ion-note *ngIf="item.date">
            {{ item.date | humanTime }}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <div class="button-add">
    <button ion-button icon-only block (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>
</ion-footer>
