page-goals {
    .scroll-content {
        overflow-y: auto;
    }

    .menu-button {
        border-width: 0;
        color: #fff;
    }

    /* TODO: check IE and padding */
    ion-content {
        background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../assets/imgs/nantesriver.jpg") no-repeat center;
        text-align: center;
        background-size: cover;
        ion-list {
            margin: 0 !important;
            background-color: #fff;
        }
    }

    .calendar-list {
        ion-label {
            text-overflow: clip;
        }
    }

    .goals {
        height: 60%;
        min-height: 300px;
        white-space: normal;
        ion-item {
            background-color: transparent;
            padding-left:25px;
            padding-right:25px;
            text-align: center;
        }
    }

    .title {
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        margin-top: 2em;
        margin-bottom: 1em;
        white-space: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .subtitle {
        font-size: 1.5em;
        width: 100%;
        color: #fff !important;
        white-space: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-left: 1em;
        padding-right: 1em;
    }

    .goal {
        font-size: 1.45em;
        width: 100%;
        color: #fff;
        margin-top: 0.5em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-left: 1em;
        padding-right: 1em;
    }

    .note-content {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.45em;
        line-height: 1.4em;

        label {
            white-space: normal;
        }

        input[type=checkbox] {
            margin-right: 0.25em;
        }
    }

    .past-item, .date {
        color: #c5c5c5;
    }

    .date {
        margin-right: 0.5em;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    button.add-button {
        border: none;
        margin-bottom: 1.5em; // Between notes, bottom
        font-size: 1.6em;
        ion-icon {
            color: rgb(211, 59, 59);
        }
    }

    ion-list-header {
        border-top: 1px solid #f4f4f4 !important;
        padding-top: 1.5em; // Between notes, top
    }
}
