<ion-header>
  <main-menu title="To-dos"></main-menu>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-card ion-item [ngClass]="{'past-item': item.isEvent && isPast(item.date)}">
        <input *ngIf="item.isTodo" type="checkbox" (change)="toggleTodo($event, item)" [checked]="item.isChecked">
        <label [class.strikethrough]="item.isChecked" (click)="showEditNote(item)">
          {{ item.content }}
        </label>
        <label *ngIf="item.isEvent && !item.isFullDay" class="date" (click)="showEditNote(item)">
          {{ item.date | humanTime }}
        </label>
      </ion-card>

      <ion-item-options side="left" (ionSwipe)="archive(item)">
        <button ion-button expandable color="secondary" icon-only (click)="archive(item)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="showEditNote(item)" color="#00ffff" icon-only><ion-icon name="create"></ion-icon></button>
        <button ion-button (click)="delete(item)" color="danger" icon-only><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right #addFab>
    <button ion-fab icon-only color="danger" (click)="addNote(addFab)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
