page-todo {
    ion-card {
        label {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.45em;
            line-height: 1.4em;
            white-space: normal;
        }

        input[type=checkbox] {
            margin-right: 0.25em;
        }
    }

    .strikethrough {
        text-decoration: line-through;
    }

    .date, .past-item {
        color: #c5c5c5;
    }
}
