<ion-header>
  <main-menu title="inbox"></main-menu>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of items | async" (click)="showEditNote(item)">
    <ion-item *ngIf="item.date">
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="item.date"></ion-datetime>
    </ion-item>
    <ion-item>
      {{item.content}}
    </ion-item>
  </ion-card>

  <ion-fab bottom right #addFab>
      <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="left">
          <button ion-fab (click)="addNote(NoteType.text, addFab)" menuClose><ion-icon name="paper"></ion-icon></button>
          <button ion-fab (click)="addNote(NoteType.voice, addFab)"><ion-icon name="microphone"></ion-icon></button>        
          <button ion-fab (click)="addNote(NoteType.camera, addFab)"><ion-icon name="camera"></ion-icon></button>
          <button ion-fab (click)="addNote(NoteType.photo, addFab)"><ion-icon name="image"></ion-icon></button>
          <button ion-fab (click)="addNote(NoteType.drawing, addFab)"><ion-icon name="brush"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>

</ion-content>