<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ user?.displayName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" ng-if="p.icon" item-start></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
      <ion-list>
        <ion-item>
          <ion-icon name="settings" item-start></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="exit" item-start></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
      </ion-list>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>