page-calendar {
    ion-card-content, ion-note {
        font-family:Helvetica,monospace;
        white-space:normal;
    }

    ion-card-content {
        font-size:1.5em !important;
    }

    ion-note {
        font-size:1em !important;
    }
}
