page-calendar {
    .date, .content {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.45em;
        line-height: 1.4em;
        white-space: normal;
    }

    .past-item, .date {
        color: #c5c5c5;
    }
}
